<ul class="nav nav-pills nav-justified">
    <li class="active">@Html.ActionLink("Institute", "Create", "Institutions")</li>
    <li>@Html.ActionLink("Board", "Create", "Boards")</li>
    <li><a href="#">@Html.ActionLink("Department", "Create", "Departments")</a></li>
    <li><a href="#">Menu 4</a></li>
</ul>
